/* Styling index.html */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

div#container {
    margin: auto;
    width: 980px;
}

div.container2 {
    margin: auto;
    width: 980px;
}

img#logo {
    padding: 0 0 30px 0;
    margin-left: 364px;
}

#header {
    background-color:#002145;
}

#datasetZip {
    margin: 0 0 0 5px;
    color: #fff;
    border: none;
}

#datasetAdd {
    margin: 5px 5px 0 0;
    border: none;
    background: #fff;
}

h1 {
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 48px;
    margin: 30px 0 0 0;
    padding: 0;
    color: #002145;
    text-transform: uppercase;
}

p.pageDescrip {
    margin-top: 0;
}

/* NAV */

nav {
    background-color:#c9e3ff;
    font-size: 18px;
    width: 100%;
    color: #000;
    overflow: hidden;
    height: 60px;
}

nav ul {
    width: 980px;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    float: left;
    width: 25%;
}

nav ul a.currentPage {
    background: #002145;
    color:#ffffff;
}

nav ul li a.last {
    border-right: none;
}

nav ul li a {
    display: block;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    text-decoration: none;
    border-right: 1px solid #87c1ff;
    color: #000;
}

nav ul li a#last {
    border-right: none;
}


main {
    font-size: 14px;
}


/* FORM */


form {
    width: 980px;
}

.data-property {
    width: 100%;
    padding: 15px 0;
    border-top: 1px solid #eee;
}

label {
    width: 140px;
    display: inline-block;
}

input, select {
    padding: 10px;
    border: 1px solid #d5d5d5;
}

select {
    margin-right: 3px;
}

input[type="number"] {
    width: 260px;
}

input[type="text"] {
    width: 260px;
}

input {
    margin-right: 5px;
}

#query button[type="submit"] {
    background: #002145;
    padding: 15px 20px;
    border: none;
    color: #fff;
}


.data-property input[type="button"] {
    background: #002145;
    padding: 10px 20px;
    border: none;
    color: #fff;
}

button {
    padding: 10px 20px;
    float:right;
}

table {
    border-collapse: collapse;
    font-size: 12px;
}

th {
    text-align: left;
}

th, td {
    width: 70px;
    border: 1px solid #999999;
    padding:12px;
    text-align: center;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

th.center, td.center {
    text-align: center;
}

th.num, td.num {
    text-align: right;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

fieldset {
    border: none;
    margin: 0px;
    padding: 5px 0px;
}

fieldset#showByFieldSet label {
    margin-right: 40px;
}

fieldset#showByFieldSet input {
    margin-right: 5px;
}


#render {
    margin-top: 60px;
}

button.remove {
    padding: 10px 20px;
}


p.qualityMes {

}

tr td tr {
    padding: 0;
    margin: 0;
    border: none;
}


#timetableTR td {
    padding: 0;
    margin: 0;
}

#timetableTR td tr td {
    padding: 5px 12px;
    margin: 0;
    width: 70px;
    border: none;
    border-bottom: 1px solid #999999;
    text-align: center;
    line-height: 20px;
}

td.daysTH {
    height: 20px;
    font-weight: bold;
}

td.daysLighterBG {
    border-bottom: 1px dashed #999999 !important;
}

td.mwfTD {
    height: 50px;
}

td.ttTD {
    height: 80px;
}


#timetableTR td tr td.lastTD {
    border: none;
}


#map {
    height: 450px;
    width: 100%;
    margin-bottom: 50px;
    line-height: 18px;
}


.addRemoveProperty {
    height: 30px;
    margin-top: 2px;
}

.addRemoveProperty button {
    float: left;
    padding: 5px 15px;
    margin-right: 10px;
    background: #d82222;
    border: none;
    color: #fff;
}

p.roomSeatsResult {
    margin: 5px 0 10px 0;
    padding: 0;
    font-weight: bold;
}

h4.roomNameResult {
    font-size: 24px;
    margin: 30px 0 0 0;
    padding: 0;
}


